/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Cores base */
    --background: 0 0% 90%; /* Branco */
    --foreground: 291, 0%, 10%; /* Cinza escuro */
    --neutral: 0 0% 95%; /* Branco */
    --accent: 271 100% 30%;
    --accent-foreground: 271 100% 50%;
    --destructive: 0 84.2% 60.2%; /* Vermelho */
    --destructive-foreground: 210 20% 98%; /* Branco azulado */

    /* Bordas e raio */
    --radius: 1rem;
    --shadow-neumorphic: 301 0% 75%; /* Sombra padrão */
    --light-base: 301 0% 100%; /* Variante média */
    --default-transition-duration: 450ms;
  }
}

.dark {
  /* Cores base */
  --background: 291, 0%, 10%; /* Cinza escuro */
  --foreground: 210 20% 98%; /* Branco azulado */
  --neutral: 291, 0%, 5%; /* Cinza escuro */
  --accent: 271 100% 30%;
  --accent-foreground: 210 20% 100%; /* Branco azulado */
  --destructive: 0 62.8% 30.6%; /* Vermelho escuro */
  --destructive-foreground: 210 20% 98%; /* Branco azulado */

  --shadow-neumorphic: 301 0% 5%; /* Sombra padrão */
  --light-base: 301 0% 30%; /* Variante mais clara */
}

@layer base {
  * {
    @apply border-border; /* Aplica a cor da borda */
  }
  body {
    @apply bg-background text-foreground; /* Aplica o fundo e a cor do texto */
  }
}
